
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_MasterLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/masterlayout/css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="~/Content/masterlayout/css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="~/Content/masterlayout/css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="~/Content/masterlayout/images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="~/Content/masterlayout/css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
<!-- font awesome -->
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--  -->
<!-- owl stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="~/Content/masterlayout/css/owl.carousel.min.css">
<link rel="stylesoeet" href="~/Content/masterlayout/css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<div class="row">
    <div class="col-lg-4 col-sm-4">
        <div class="box_main">
            <h4 class="shirt_text">Xe đạp đua GIANT SPEEDER 2022 Đen Xanh Dương</h4>
            <div class="tshirt_img"><img src="https://firebasestorage.googleapis.com/v0/b/qlibanxedap.appspot.com/o/4761_Xe-da%CC%A3p-dua-GIANT-SPEEDER-2022-Den-Xanh-Duong_thumb.jpg?alt=media&token=1a6bf3e6-b49c-4656-a59a-82d791c8403c"></div>
            <p class="price_text">Giá  <span style="color: #262626;"> 20.000.000</span></p>
            <div class="btn_main">
                <div class="buy_bt"><a href="#">Mua Ngay</a></div>
                <div class="seemore_bt"><a href="#">Xem Chi Tiết</a></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-4">
        <div class="box_main">
            <h4 class="shirt_text">Xe đạp đua Giant TCR ADV Pro 1 2022</h4>
            <div class="tshirt_img"><img src="https://firebasestorage.googleapis.com/v0/b/qlibanxedap.appspot.com/o/5402_Xe-Dap-Dia-Hinh-XTC-800-2023-Den_thumb.jpg?alt=media&token=3139a584-3ead-47b9-a625-f1bd9a504f4b"></div>
            <p class="price_text">Giá  <span style="color: #262626;"> 15.400.000</span></p>
            <div class="btn_main">
                <div class="buy_bt"><a href="#">Mua Ngay</a></div>
                <div class="seemore_bt"><a href="#">Xem Chi Tiết</a></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-4">
        <div class="box_main">
            <h4 class="shirt_text">
                Xe đạp đua Giant SCR 2 2022 Đen xanh
            </h4>
            <div class="tshirt_img"><img src="images/women-clothes-img.png"></div>
            <p class="price_text">Giá  <span style="color: #262626;"> 19.000.000</span></p>
            <div class="btn_main">
                <div class="buy_bt"><a href="#">Mua Ngay</a></div>
                <div class="seemore_bt"><a href="#">Xem Chi Tiết</a></div>
            </div>
        </div>
    </div>
</div>

